<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - devBlog</title>

	@* Dark mode *@
	<script>
		const storedTheme = localStorage.getItem('theme')

		const getPreferredTheme = () => {
			if (storedTheme) {
				return storedTheme
			}
			return window.matchMedia('(prefers-color-scheme: light)').matches ? 'light' : 'light'
		}

		const setTheme = function (theme) {
			if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
				document.documentElement.setAttribute('data-bs-theme', 'dark')
			} else {
				document.documentElement.setAttribute('data-bs-theme', theme)
			}
		}

		setTheme(getPreferredTheme())

		window.addEventListener('DOMContentLoaded', () => {
			var el = document.querySelector('.theme-icon-active');
			if (el != 'undefined' && el != null) {
				const showActiveTheme = theme => {
					const activeThemeIcon = document.querySelector('.theme-icon-active use')
					const btnToActive = document.querySelector(`[data-bs-theme-value="${theme}"]`)
					const svgOfActiveBtn = btnToActive.querySelector('.mode-switch use').getAttribute('href')

					document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
						element.classList.remove('active')
					})

					btnToActive.classList.add('active')
					activeThemeIcon.setAttribute('href', svgOfActiveBtn)
				}

				window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
					if (storedTheme !== 'light' || storedTheme !== 'dark') {
						setTheme(getPreferredTheme())
					}
				})

				showActiveTheme(getPreferredTheme())

				document.querySelectorAll('[data-bs-theme-value]')
					.forEach(toggle => {
						toggle.addEventListener('click', () => {
							const theme = toggle.getAttribute('data-bs-theme-value')
							localStorage.setItem('theme', theme)
							setTheme(theme)
							showActiveTheme(theme)
						})
					})

			}
		})
	</script>

	@* Favicon *@
	<link rel="shortcut icon" href="~/images/favicon.svg">

	@* Google Font *@
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap">

	@* Plugins CSS *@
	<link rel="stylesheet" type="text/css" href="~/vendor/font-awesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="~/vendor/bootstrap-icons/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="~/vendor/tiny-slider/tiny-slider.css">
	<link rel="stylesheet" type="text/css" href="~/vendor/glightbox/css/glightbox.css">

	@* Theme CSS *@
	<link rel="stylesheet" type="text/css" href="~/css/style.css">
</head>
<body>
	@* Header START *@
	<header class="navbar-light navbar-sticky header-static">
		@* Nav START *@
		<nav class="navbar navbar-expand-xl">
			<div class="container-fluid px-3 px-xl-5">
				@* Logo START *@
				<a class="navbar-brand" href="/">
					<img class="light-mode-item navbar-brand-item" src="~/images/logo.svg" alt="logo">
					<img class="dark-mode-item navbar-brand-item" src="~/images/logo-light.svg" alt="logo">
				</a>
				@* Logo END *@
				@* Responsive navbar toggler *@
				<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-animation">
						<span></span>
						<span></span>
						<span></span>
					</span>
				</button>

				@* Main navbar START *@
				<div class="navbar-collapse w-100 collapse" id="navbarCollapse">

					@* Nav category menu START *@
					<ul class="navbar-nav navbar-nav-scroll me-auto">
						@* Nav item 1 Demos *@
						<li class="nav-item dropdown dropdown-menu-shadow-stacked">
							<a class="nav-link bg-primary bg-opacity-10 rounded-3 text-primary px-3 py-3 py-xl-0" href="#" id="categoryMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="bi bi-ui-radios-grid me-2"></i><span>Category</span></a>
							<ul class="dropdown-menu" aria-labelledby="categoryMenu">
								@* Dropdown submenu *@
								<li class="dropdown-submenu dropend">
									<a class="dropdown-item dropdown-toggle" href="#">Development</a>
									<ul class="dropdown-menu dropdown-menu-start" data-bs-popper="none">
										@* dropdown submenu open right *@
										<li class="dropdown-submenu dropend">
											<a class="dropdown-item dropdown-toggle" href="#">Web Development</a>
											<ul class="dropdown-menu" data-bs-popper="none">
												<li> <a class="dropdown-item" href="#">CSS</a> </li>
												<li> <a class="dropdown-item" href="#">JavaScript</a> </li>
												<li> <a class="dropdown-item" href="#">Angular</a> </li>
												<li> <a class="dropdown-item" href="#">PHP</a> </li>
												<li> <a class="dropdown-item" href="#">HTML</a> </li>
												<li> <a class="dropdown-item" href="#">React</a> </li>
											</ul>
										</li>
										<li> <a class="dropdown-item" href="#">Data Science</a> </li>
										<li> <a class="dropdown-item" href="#">Mobile Development</a> </li>
										<li> <a class="dropdown-item" href="#">Programing Language</a> </li>
										<li> <a class="dropdown-item" href="#">Software Testing</a> </li>
										<li> <a class="dropdown-item" href="#">Software Engineering</a> </li>
										<li> <a class="dropdown-item" href="#">Software Development Tools</a> </li>
									</ul>
								</li>
								@* Dropdown submenu *@
								<li class="dropdown-submenu dropend">
									<a class="dropdown-item dropdown-toggle" href="#">Cybersecurity</a>
									<ul class="dropdown-menu dropdown-menu-start" data-bs-popper="none">
										<li> <a class="dropdown-item" href="#">Network Security</a> </li>
										<li> <a class="dropdown-item" href="#">Application Security</a> </li>
										<li> <a class="dropdown-item" href="#">Data Privacy</a> </li>
										<li> <a class="dropdown-item" href="#">Incident Response</a> </li>
										<li> <a class="dropdown-item" href="#">Security Tools</a> </li>
									</ul>
								</li>
								@* Dropdown submenu *@
								<li class="dropdown-submenu dropend">
									<a class="dropdown-item dropdown-toggle" href="#">AI / ML</a>
									<ul class="dropdown-menu dropdown-menu-start" data-bs-popper="none">
										<li> <a class="dropdown-item" href="#">Machine Learning Algorithms</a> </li>
										<li> <a class="dropdown-item" href="#">Deep Learning</a> </li>
										<li> <a class="dropdown-item" href="#">AI Applications</a> </li>
										<li> <a class="dropdown-item" href="#">Data Science</a> </li>
										<li> <a class="dropdown-item" href="#">Ethics in AI</a> </li>
									</ul>
								</li>
								<li> <a class="dropdown-item" href="#">Cloud Computing</a></li>
								<li> <a class="dropdown-item" href="#">Tech Industry News </a></li>
								<li> <hr class="dropdown-divider"></li>
								<li> <a class="dropdown-item bg-primary text-primary bg-opacity-10 rounded-2 mb-0" href="#">View all categories</a></li>
							</ul>
						</li>
					</ul>
					@* Nav category menu END *@
					@* Nav Main menu START *@
					<ul class="navbar-nav navbar-nav-scroll me-auto">
						<li class="nav-item"> <a class="nav-link" asp-area="" asp-page="/Index" aria-haspopup="true" aria-expanded="false">Home</a> </li>
						<li class="nav-item"> <a class="nav-link" asp-area="" asp-page="/BlogPosts/Index" aria-haspopup="true" aria-expanded="false">Blogs</a> </li>
						<li class="nav-item"> <a class="nav-link" asp-area="" asp-page="/About" aria-haspopup="true" aria-expanded="false">About</a> </li>
						<li class="nav-item"> <a class="nav-link" asp-area="" asp-page="/Community" aria-haspopup="true" aria-expanded="false">Community</a> </li>
						<li class="nav-item"> <a class="nav-link" asp-area="" asp-page="/Contact" aria-haspopup="true" aria-expanded="false">Contact</a> </li>

						@* Nav item 5 link*@
						<li class="nav-item dropdown">
							<a class="nav-link" href="#" id="advanceMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fas fa-ellipsis-h"></i>
							</a>
							<ul class="dropdown-menu dropdown-menu-end min-w-auto" data-bs-popper="none">
								<li>
									<a class="dropdown-item" href="#" target="_blank">
										<i class="text-warning fa-fw bi bi-life-preserver me-2"></i>Support
									</a>
								</li>
								<li>
									<a class="dropdown-item" href="docs//" target="_blank">
										<i class="text-danger fa-fw bi bi-card-text me-2"></i>Documentation
									</a>
								</li>
								<li> <hr class="dropdown-divider"></li>
								<li>
									<a class="dropdown-item" href="#" target="_blank">
										<i class="text-info fa-fw bi bi-toggle-off me-2"></i>RTL demo
									</a>
								</li>
								<li> <hr class="dropdown-divider"></li>
								<li>
									<a class="dropdown-item" href="docs/alerts.html" target="_blank">
										<i class="text-orange fa-fw bi bi-puzzle-fill me-2"></i>Components
									</a>
								</li>
								<li>
									<a class="dropdown-item" href="docs/snippets.html">
										<i class="text-purple fa-fw bi bi-stickies-fill me-2"></i>Snippets
									</a>
								</li>
							</ul>
						</li>
					</ul>
					@* Nav Main menu END *@
					@* Dark mode options START *@
					<div class="dropdown">
						<button class="btn btn-warning-soft rounded-3 me-2" id="bd-theme"
								type="button"
								aria-expanded="false"
								data-bs-toggle="dropdown"
								data-bs-display="static">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-half fa-fw theme-icon-active" viewBox="0 0 16 16">
								<path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z" />
								<use href="#"></use>
							</svg>
						</button>
						<ul class="dropdown-menu min-w-auto dropdown-menu-end" aria-labelledby="bd-theme">
							<li class="mb-1">
								<button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light">
									<svg width="16" height="16" fill="currentColor" class="bi bi-brightness-high-fill fa-fw mode-switch me-1" viewBox="0 0 16 16">
										<path d="M12 8a4 4 0 1 1-8 0 4 4 0 0 1 8 0zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
										<use href="#"></use>
									</svg>Light
								</button>
							</li>
							<li class="mb-1">
								<button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon-stars-fill fa-fw mode-switch me-1" viewBox="0 0 16 16">
										<path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z" />
										<path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z" />
										<use href="#"></use>
									</svg>Dark
								</button>
							</li>
							<li>
								<button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-half fa-fw mode-switch me-1" viewBox="0 0 16 16">
										<path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z" />
										<use href="#"></use>
									</svg>Auto
								</button>
							</li>
						</ul>
					</div>
					@* Dark mode options END*@
				</div>
				@* Main navbar END *@
				@* Profile START *@
				<partial name="_LoginPartial" />
				@* Profile START *@
			</div>
		</nav>
		@* Nav END *@
	</header>
	@* Header END *@

	@RenderBody()

	@* =======================
	Footer START *@
	<footer class="pt-5">
		<div class="container">
			@* Row START *@
			<div class="row g-4">

				@* Widget 1 START *@
				<div class="col-lg-3">
					@* logo *@
					<a class="me-0" href="/">
						<img class="light-mode-item h-40px" src="~/images/logo.svg" alt="logo">
						<img class="dark-mode-item h-40px" src="~/images/logo-light.svg" alt="logo">
					</a>
					<p class="my-3">devBlog, an innovative blogging platform built specifically for tech enthusiasts, developers, and engineers, dedicated to sharing knowledge, fostering learning, and empowering the tech community.</p>
					@* Social media icon *@
					<ul class="list-inline mb-0 mt-3">
						<li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-facebook" href="#"><i class="fab fa-fw fa-facebook-f"></i></a> </li>
						<li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-instagram" href="#"><i class="fab fa-fw fa-instagram"></i></a> </li>
						<li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-twitter" href="#"><i class="fab fa-fw fa-twitter"></i></a> </li>
						<li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-linkedin" href="#"><i class="fab fa-fw fa-linkedin-in"></i></a> </li>
					</ul>
				</div>
				@* Widget 1 END *@
				@* Widget 2 START *@
				<div class="col-lg-6">
					<div class="row g-4">
						@* Link block *@
						<div class="col-6 col-md-4">
							<h5 class="mb-2 mb-md-4">Platform</h5>
							<ul class="nav flex-column">
								<li class="nav-item"><a class="nav-link" asp-area="" asp-page="/">Home</a></li>
								<li class="nav-item"><a class="nav-link" asp-area="" asp-page="/About">About</a></li>
								<li class="nav-item"><a class="nav-link" asp-area="" asp-page="/Contact">Contact</a></li>
								<li class="nav-item"><a class="nav-link" asp-area="" asp-page="/Blogs">Featured Blogs</a></li>
							</ul>
						</div>

						@* Link block *@
						<div class="col-6 col-md-4">
							<h5 class="mb-2 mb-md-4">Community</h5>
							<ul class="nav flex-column">
								<li class="nav-item"><a class="nav-link" asp-area="" asp-page="/Documentation">Documentation</a></li>
								<li class="nav-item"><a class="nav-link" asp-area="" asp-page="/Faq">Faq</a></li>
								<li class="nav-item"><a class="nav-link" asp-area="" asp-page="/Sitemap">Sitemap</a></li>
							</ul>
						</div>
					</div>
				</div>
				@* Widget 2 END *@
				@* Widget 3 START *@
				<div class="col-lg-3">
					<h5 class="mb-2 mb-md-4">Contact</h5>
					@* Time *@
					<p class="mb-2">
						Toll free:<span class="h6 fw-light ms-2">+962-795-075-694</span>
						<span class="d-block small">(9:AM to 8:PM IST)</span>
					</p>

					<p class="mb-0">Email:<span class="h6 fw-light ms-2">info@DevBlog.com</span></p>

					<div class="row g-2 mt-2">
						@* Google play store button *@
						<div class="col-6 col-sm-4 col-md-3 col-lg-6">
							<a href="#"> <img src="~/images/client/google-play.svg" alt=""> </a>
						</div>
						@* App store button *@
						<div class="col-6 col-sm-4 col-md-3 col-lg-6">
							<a href="#"> <img src="~/images/client/app-store.svg" alt="app-store"> </a>
						</div>
					</div> @* Row END *@
				</div>
				@* Widget 3 END *@
			</div>@* Row END *@
			@* Divider *@
			<hr class="mt-4 mb-0">

			@* Bottom footer *@
			<div class="py-3">
				<div class="container px-0">
					<div class="d-lg-flex justify-content-between align-items-center py-3 text-center text-md-left">
						@* copyright text *@
						<div class="text-body text-primary-hover"> © 2024 devBlog. All rights reserved. <a href="/" class="text-body">DevBlog</a></div>
						@* copyright links*@
						<div class="justify-content-center mt-3 mt-lg-0">
							<ul class="nav list-inline justify-content-center mb-0">
								<li class="list-inline-item">
									@* Language selector *@
									<div class="dropup mt-0 text-center text-sm-end">
										<a class="dropdown-toggle nav-link" href="#" role="button" id="languageSwitcher" data-bs-toggle="dropdown" aria-expanded="false">
											<i class="fas fa-globe me-2"></i>Language
										</a>
										<ul class="dropdown-menu min-w-auto" aria-labelledby="languageSwitcher">
											<li><a class="dropdown-item me-4" href="#"><img class="fa-fw me-2" src="~/images/flags/uk.svg" alt="">English</a></li>
											<li><a class="dropdown-item me-4" href="#"><img class="fa-fw me-2" src="~/images/flags/ar.svg" alt="">العربية</a></li>
										</ul>
									</div>
								</li>
								<li class="list-inline-item"><a class="nav-link" href="#">Terms of use</a></li>
								<li class="list-inline-item"><a class="nav-link pe-0" href="#">Privacy policy</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>

	@* Back to top *@
	<div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>

	@* Bootstrap JS *@
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

	@* Vendors *@
	<script src="~/vendor/tiny-slider/tiny-slider.js"></script>
	<script src="~/vendor/glightbox/js/glightbox.js"></script>
	<script src="~/vendor/purecounterjs/dist/purecounter_vanilla.js"></script>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>